/* src/styles.css */
@font-face {
  font-family: 'DSEG7';
  src: url('7SEGMENTALDIGITALDISPLAY.ttf') format('truetype');
  
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    min-height: 100vh;
    background-color: #656565;
    display: grid;
    place-items: center;
}

.calculator {
  background-color: #66a1a1;
  border-radius: 1.5rem;
  

  padding: 20px;
  box-shadow: 0 6px 12px rgba(12, 15, 44, 0.3);
  width: 350px;
}
.calculator.grande{
  width: 600px;
  
}
.display {
  margin-bottom: 15px;
  padding-top: 5px;
  
}





.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}



button{
  border-radius: .5rem;
}
.btn {
  height: 60px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}



.btn:active {
  transform: scale(0.95);
}

.btn.clear:hover{
  opacity: 1;
  background-color: #8c5200;
}

.btn.operator:hover{
  opacity:1;
  background-color: #de860a;
}

.btn.number:hover{
  background-color: #3a68b9;
}

.btn.number {
  background-color: #327ee1;
  color: white;
}

.btn.number.cambia{
  grid-column: span 2;
}
.btn.operator {
  background-color: #ff9a0c;
  color: rgb(0, 0, 0);
}

.btn.clear {

  background-color: #262949;
  color: rgb(255, 255, 255);
}


.btn.equals {
  background-color: #ff9500;
  color: rgb(0, 0, 0);
  
}

.btn.stop {
  grid-column: span 4;
  background-color: black;
}







img{
  height: 70px;
  width: 50px;
  backface-visibility: hidden;
  
  border-radius: .25rem;
  background-color: transparent;
  overflow: hidden;
  margin-bottom: 5px;
  
}





.reloj{
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 300px;
  letter-spacing: 2px;
  background-color: black;
  margin-bottom: 5px;
  border-radius: .25rem;
  color: #ff0000;
  font-weight: bold;
  font-family: 'DSEG7';
  font-size: 44px;
  padding: 20px;
}
.activadores{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  
  }
.btnCientifica{
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
}

.btnCientifica input{
  opacity: 0;
  width: 0;
  height: 0;
}

.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before{
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider{
  background-color: #77efff;
}
input:checked + .slider::before {
  background-color: #2784ff;
}

input:checked + .slider:before {
  transform: translateX(20px);
}
.switch{
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

